.footer {
    margin-bottom: 5px;
}
/* <--Black Theme */
:global body.themeBlack .icons__instagram {
    background-image: url(../../Images/inst-icon-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 27px;
}

:global body.themeBlack .icons__youtube {
    background-image: url(../../Images/youtube-icon-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 27px;
}

:global body.themeBlack .icons__fb{
    background-image: url(../../Images/fb-icon-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 26px;
}

:global body.themeBlack .languages a {
    font-family: Mako;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #A7A7A7;
}
/* Black Theme --> */
/* <--White Theme */
:global body.themeWhite .icons__instagram {
    background-image: url(../../Images/inst-icon-black.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 27px;
}

:global body.themeWhite .icons__youtube {
    background-image: url(../../Images/youtube-icon-black.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 27px;
}

:global body.themeWhite .icons__fb{
    background-image: url(../../Images/fb-icon-black.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 26px;
}

:global body.themeWhite .languages a {
    font-family: Mako;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #161616;
}
/* White Theme --> */