.tiimeline { 
    height:100%;
}
.timeline__year{
    background-image: url(../../../Images/history-year.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 2px 50px;
    height:90px;
    width:2px;
    padding-top: 10px;
    color: #C4C4C4;
    text-indent: -800%;
}
.timeline__year.sm{
    background-size: 1px 35px;
}
.timeline__year.active{
    background-size: 2px 60px;
    padding-top: 0px;
    font-size: 18px;
    background-position: bottom;
    transition: all 0.5s ease;
}
.timeline__year_next{
    background-image: url(../../../Images/history-year-next.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:contain;
    width:20px;
}
.timeline__year_prev{
    background-image: url(../../../Images/history-year-prev.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:contain;
    width:20px;
}