.history__title {
    font-family: IM FELL Double Pica SC;
    font-style: normal;
    font-weight: normal;
    font-size: 4vmin;
    text-transform: uppercase;
    color: #C4C4C4;
    text-align: center;
}

.history__text {
    font-family: Mako;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vmin;
    line-height: 150%;
    text-transform: capitalize;
    color: #C4C4C4;
}

.history__comment {
    font-family: IM FELL Double Pica SC;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vmin;
    text-transform: uppercase;
    color: #DEDEDE;
    opacity: 0.4;
    text-align: center;
}

.history__img {
    object-fit: cover;
}