.title {
    font-family: IM FELL Double Pica SC;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    text-transform: uppercase;
    color: #1D1C1C;
    text-align: center;
}