.img_warp {
    position: relative;
    width: 100%;
    height: 80vh;
}

.img_warp img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.img_warp img.active {
    filter: hue-rotate(360deg);
}



.form_title {
    font-family: Mako;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 38px;
    text-transform: uppercase;
    color: #000000;
}